


.sidebar {
	float: left;
	width: 335px;
}

.categories {
	margin-bottom: 40px;
	background: #fff;

}

.categories__list {
	border: 1px solid #dee1e4;
	@include border-radius(5px);
	overflow: hidden;
}

.categories__item {
	border-top: 1px solid #dee1e4;
	transition:2s;

	&:first-child {
		border-top: none;
	}

	&.active {
		background: #d9e5ea;
	}

	&:hover {
		background: #d9e5ea;
		
	}
}

.categories__link {
	display: block;
	width: 100%;
	padding: 11px 30px;
	color: #7f7f7f;
	text-decoration: none;
	box-sizing: border-box;

}

/*--------------------Filter ------------------*/
.accordeon__list {
	@extend .categories__list;
	background: #fbfbfb;

}

.accordeon__content {
	display: none;
	padding-top: 18px;
}

.accordeon__item {
	padding: 12px 26px;
	border-top: 1px solid $grey;

	&:first-child {
		border-top: none;
	}

	&:hover{
		background: #d9e5ea;
		@include transition(0.8s);
}
	&.active {
		
			background: #fbfbfb;


		.accordeon__title-trigger{
			&:after{
				$arrow-sidebar-map: sprite-map('icons/arrow-sidebar/*.png', $spacing: 70px);
				@include get-sprite($arrow-sidebar-map, arr_open);
				
			}
		}
	}
}
.accordeon__choose-item {
	margin-top: 16px;

	&:first-child {
		margin-top: 0;
	}
}
.accordeon__title {
	margin:0;
	


}


.accordeon__title-trigger {
	color: $black;
	font-size: 16px;
	
	@include open-sans(semibold);
	
	text-decoration: none;
	position: relative;
	display: block;

	&:hover:after{
		display: block;
		@include transition(0.5s);
	}

	&:after{
		content:'';
		$arrow-sidebar-map: sprite-map('icons/arrow-sidebar/*.png', $spacing: 70px);
		@include get-sprite($arrow-sidebar-map, arr_close);
		position: absolute;
		top:10px;
		right: 0px;
		display: none;
		
		
	}
	

}

.accordeon__choose {
	margin-bottom: 13px;
}

.accordeon__choose-label {
	display: block;
	position: relative;
}

.accordeon__choose-elem {
	border: 3px solid $grey;
	width: 13px;
	height: 13px;
	@include border-radius(50%);
	position: relative;
	@include transition(border-color .3s);
	@include inlineblock();

	&:after {
		content:"";
		@include absolute-center;
		width: 0;
		height: 0;
		@include border-radius(50%);
		background: $orange;
		@include transition(.3s);


	}
}

.accordeon__choose-input {
	position: absolute;
	top:0;
	left:-9999px;

	&:checked + .accordeon__choose-elem {
		border-color: $orange;

		&:after {
			width: 9px;
			height: 9px;
		}
	}
}


.accordeon__choose-text {
	@include inlineblock(top);
	font-size: 14px;
	line-height: 16px;
	color:$black;
	max-width: 240px;
	margin-left: 8px;
}

/*------------------checkbox------------------*/

.accordeon__choose_checkbox {
	.accordeon__choose-input {
		&:checked + .accordeon__choose-elem {
			background: $orange;

			&:after {
				opacity: 1;
			}
		}
	}

	.accordeon__choose-elem {
		width: 20px;
		height: 20px;
		@include border-radius(4px);
		background: $grey;
		@include transition(.2s);
		border:none;

		&:after {
			content:"";
			display: block;
			@include absolute-center;
			opacity: 0;
			@include transition(.2s);
			@include get-sprite($misc-sprite, checkbox);
			@include border-radius(0);
			width: 13px !important;
			height: 10px !important;
		}
	}
}

.accordeon__reset{
	color: #5db2fc;
	font-size: 14px;
	line-height: 16px;

	&:hover {
		color:darken(#5db2fc, 30%);
	}
}

/*-----------------------colors------------------------*/

.accordeon__colors-link {
	border:1px solid $grey;
	width: 37px;
	height: 37px;
	display: block;
}

.accordeon__colors-item {
	@include inlineblock();
	border:3px solid transparent;
	margin-left: 10px;
	margin-bottom: 8px;

	&:hover {
		border-color: $orange;

	}
}
.accordeon__colors {
	margin-left: -10px;
}

/*---------------slider----------------------*/

.accordeon__slider-displays {
	@include clearfix;
	margin-bottom: 10px;
}

.accordeon__slider-left {
	float: left;
	width: 50%;
}

.accordeon__slider-right {
	float:right;
	width: 50%;
}

.accordeon__slider-input {
	@extend .search__form-input;
	padding: 10px 8px;
	width: 83px;
	@include inlineblock(middle);
}

.accordeon__slider-text {
	@include inlineblock(middle);
	font-size: 14px;
	line-height: 16px;

}