.products__list_grids {
	border:none;
	overflow: auto;
	@include border-radius(0px);
	margin-left: -11px;
	background: transparent;
	padding-top:2px;

	.products__item {
		@include inlineblock();
		width: 235px;
		text-align: center;
		@include border-radius(5px);
		border: 1px solid $grey;
		margin-left: 11px;
		margin-bottom: 11px;
		box-sizing:border-box;

		&:first-child {
				border: 1px solid $grey;
	
		}
		
			&:hover {
				box-shadow: 0 1px 5.7px 0.3px rgba(118, 118, 118, 0.75);

			}
		
}
	

	.products__item-inner {
		padding: 15px 10px;
	}
	.products__slideshow {
		width: auto;
		text-align: center;
		float: none;
	}


	.products__slideshow-display {
		@include inlineblock();
	}

	.products__slideshow-item {
		@include inlineblock();
		float:none;

	}

	.products__desc {
		width: auto;
		float: none;
		margin-left: 0;
	}


	.products__desc-options {
		margin-bottom: 3px;
	}


	
	.products__info {
		text-align: center;
		margin-bottom: 10px;
		border: none;
	}

	.products__info-bottom {
		position: static;
		@include clearfix;
		border:none;
	}
	
	.product__article {
		display:none;

	}

	.products__right {
		position: static;
		width: auto;
	}

	.products__left {
		float:none;
	}

	.products__buy-btn {
		margin-bottom: 0;
		float: right;
		
	}
	
	.products__availability {
		
		float: left;
		padding-top: 13px;
		padding-left:10px;
	}

	.products__rating-stars {
		padding: 10px 0;
	}

	.products__option-item {
		@include clearfix();
		color: $black;
		font-size: 14px;
		display: block;
	}
	
	.products__option-key {
		display:block;
		float: left;
		width:50%;
		text-align:left;
		
	}
	.products__option-value {
		display:block;
		float:right;
		width:50%;
		text-align: right;
		
	}

	.products__option-item_colored {
		background: #e6e6e6;
	}
}


